{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <figure>
                <blockquote class="blockquote">
                  <p>A message containing instructions to activate your account has been sent to your email.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Make sure to check your spam folder!
                </figcaption>
              </figure>
        </div>
    </div>
</div>
{% endblock main %}