{% extends "base.html" %}
{% block title %}Your account is now verified.{% endblock title %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <figure>
                <blockquote class="blockquote">
                  <p>Your account is now verified. Now you can <a href="{ url 'login' }">login</a> to your account.</p>
                </blockquote>
              </figure>
        </div>
    </div>
</div>
{% endblock main %}