{% extends "base.html" %}
{% block title %}Reset your password{% endblock title %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center py-4 w-100 m-auto"
            style="max-width: 300px; row-gap: 10px;">
            {% if user.is_authenticated %}
            <figure>
                <blockquote class="blockquote">
                    <p>You are already logged-in. <a href="{% url 'logout' %}">Logout.</a></p>
                </blockquote>
            </figure>
            {% else %}
            <p style="text-justify: inter-word; text-align: justify;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form method="post" class="d-flex flex-column">
                {% csrf_token %}
                {% for field in form %}
                <input placeholder="{{ field.label }}" class="form-control mb-2" name="{{ field.html_name }}"
                    id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}">
                {% for error in field.errors %}
                <p class="text-danger font-monospace">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <p class="text-danger font-monospace">{{ error }}</p>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Send Me Instruction">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}